body {
 
    margin: 0;
    padding: 0;
    font-family: 'robot', sans-serif;
} 
.container{
    width: 1902px;
    height: 939px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(svane.jpg);
    background-position:center;
    background-size:cover;
   padding-left: 8px;
   padding-right: 8%;
   box-sizing: border-box;

}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
 flex:1;
 text-align: right;  
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px; 
}
.row{
    display: flex;
    height: 88px;
    align-items: center;
  
}

 .dod {
    flex-basis: 50px;

}
h1{
    color: #fff;
    font-size: 100px;

}
p {
color: #fff;
font-size: 11px;
line-height: 15px;
}
button{
    width: 180px;
    color: lightgrey;
    font-size: 12px;
    padding:12px 0;
    background: #fff;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    color:blue;

}


.card1{
    
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 330px;
    background-image: url(batu.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    margin-top: -100px;
}
.card2{

    
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 300px;
    background-image: url(tiflis.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card3{
    
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 300px;
    background-image: url(quta.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;

}


.card1:hover{ 
    transform: translatey(-10px);

}

.card2:hover{ 
    transform: translatey(-10px);

}

.card3:hover{ 
    transform: translatey(-10px);

}
.card4:hover{ 
    transform: translatey(-10px);

}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}